UIElementsSchema/UnityEngine.Localization.SmartFormat.PersistentVariables.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:editor="UnityEditor.UIElements" xmlns:engine="UnityEngine.UIElements" xmlns:AddressablesGUI="UnityEditor.AddressableAssets.GUIElements" xmlns="UnityEditor.AddressableAssets.Diagnostics" elementFormDefault="qualified" targetNamespace="UnityEngine.Localization.SmartFormat.PersistentVariables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="ULongVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="0" name="value" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ULongVariable" substitutionGroup="engine:VisualElement" xmlns:q1="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q1:ULongVariableType" />
  <xs:complexType name="ObjectVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="value" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObjectVariable" substitutionGroup="engine:VisualElement" xmlns:q2="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q2:ObjectVariableType" />
  <xs:complexType name="IntVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="0" name="value" type="xs:int" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntVariable" substitutionGroup="engine:VisualElement" xmlns:q3="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q3:IntVariableType" />
  <xs:complexType name="StringVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="value" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StringVariable" substitutionGroup="engine:VisualElement" xmlns:q4="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q4:StringVariableType" />
  <xs:complexType name="BoolVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="false" name="value" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BoolVariable" substitutionGroup="engine:VisualElement" xmlns:q5="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q5:BoolVariableType" />
  <xs:complexType name="LongVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="0" name="value" type="xs:long" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LongVariable" substitutionGroup="engine:VisualElement" xmlns:q6="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q6:LongVariableType" />
  <xs:complexType name="ByteVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ByteVariable" substitutionGroup="engine:VisualElement" xmlns:q7="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q7:ByteVariableType" />
  <xs:complexType name="DoubleVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="0" name="value" type="xs:double" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DoubleVariable" substitutionGroup="engine:VisualElement" xmlns:q8="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q8:DoubleVariableType" />
  <xs:complexType name="FloatVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="0" name="value" type="xs:float" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FloatVariable" substitutionGroup="engine:VisualElement" xmlns:q9="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q9:FloatVariableType" />
  <xs:complexType name="UIntVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="0" name="value" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UIntVariable" substitutionGroup="engine:VisualElement" xmlns:q10="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q10:UIntVariableType" />
  <xs:complexType name="SByteVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SByteVariable" substitutionGroup="engine:VisualElement" xmlns:q11="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q11:SByteVariableType" />
  <xs:complexType name="ShortVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="0" name="value" type="xs:short" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShortVariable" substitutionGroup="engine:VisualElement" xmlns:q12="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q12:ShortVariableType" />
  <xs:complexType name="UShortVariableType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UShortVariable" substitutionGroup="engine:VisualElement" xmlns:q13="UnityEngine.Localization.SmartFormat.PersistentVariables" type="q13:UShortVariableType" />
</xs:schema>